span {
  display: inline-block;
}

#rooms-page {
  flex-direction: column;
}

.room {
  margin: 10px;
  padding: 10px;
  background-color: #888ea7;
}

.room-info {
  margin-bottom: 10px;
  font-weight: bold;
}

.btn {
  background-color: var(--main-button-background-color);
  border-color: var(--main-button-border-color);
  padding: 5px 10px;
}

.btn:hover {
  background-color: var(--main-button-hover-background-color);
}

.ready-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lightskyblue;
  margin-right: 5px;
}

.ready-status-green {
  background-color: limegreen;
}

.ready-status-red {
  background-color: orangered;
}

.progressbar-wrapper {
  width: 200px;
  height: 22px;
  border: 1px solid darkgray
}

.user-progress {
  background-color: green;
  height: 20px;
}

#game-field {
  position: relative;
  margin-left: 20px;
  min-width: 600px;
  min-height: 600px;
  width: 50vw;
  height: 50vh;
  border: 1px solid grey;
  background-color: lemonchiffon;
}

#ready-btn {
  font-size: 2em;
}

#timer {
  font-size: 2em;
}

#text-timer {
  position: absolute;
  top: 5px;
  right: 5px;
}

#text-typed {
  background-color: #A3D200;
}

#text-current {
  /* background-color: #78c5f1; */
  font-weight: bold;
  text-decoration: underline;
}

#text-not-typed {

}